<h1>Structure and Interpretation of Computer Programs</h1>

<p class='text'>
These pages contain selected sections of <a href="http://mitpress.mit.edu/sicp/full-text/book/book.html">
Structure and Interpretation of Computer Programs </a>by Harold Abelson and Gerald Sussman with Julie Sussman.
<br/>
The programs are given in JavaScript, translated from Scheme by Martin Henz.
The JavaScript programs can be executed (evaluated) by clicking on them.
<div style="position:absolute;display:none;" id="javascript_17_div"></div>
<pre class="jush-js" title="evaluate JavaScript expression" onclick="new window.JavascriptConsole('\n(3 * 5) + (10 - 6);','javascript_17','',event,1.0);"><span class="jush"><span class="jush-js_code"><span class="jush-op">(</span></span><span class="jush-js_code"><span class="jush-num"><span class="jush-op">3</span></span> <span class="jush-op">*</span></span><span class="jush-js_code"> <span class="jush-num"><span class="jush-op">5</span></span>) <span class="jush-op">+</span></span><span class="jush-js_code"> <span class="jush-op">(</span></span><span class="jush-js_code"><span class="jush-num"><span class="jush-op">10</span></span> <span class="jush-op">-</span></span><span class="jush-js_code"> <span class="jush-num"><span class="jush-op">6</span></span>)<span class="jush-op">;</span></span></span></pre>
</p>
