<div class="chapter-content">
  <div class="col-lg-9">
    <div class="chapter-title">
        <%= @title %>
    </div>
    <div class="chapter-text" >
        <%= raw @html_doc %>
    </div>

    <div class="nav">
    <% if (@chapter.id > 1) %>
      <div type="button" class="btn btn-secondary">
        <%= link_to  "< Previous", chapter_url(@chapter.id - 1) %>
    </div>
    <% end %>

    <% if (@chapter.id < Chapter.count) %>
      <div type="button" class="btn btn-secondary">
        <%= link_to  "Next >", chapter_url(@chapter.id + 1), :class => "scroll-next"  %>
      </div>
    <% end %>
    </div>
  </div>
  <%= javascript_tag "var chapter_id = #{@chapter.id};" %>
  <div class="next-page"></div>
</div>
