/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require codemirror
 */

 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

a:hover {
    background: none;
}

html * {
    font-family: 'Droid Sans', sans-serif;
}

.card {
    border-left: none;
    border-right: none;
}
.navbar-toggler {
    display: inline-block !important;
    margin-right: 1rem;
}

.sidebar-active {
    background-color: #555 !important;
}

#nav-sidebar {
    background-color: #333;
    position: fixed;
    top: 56px;
    left: 0px;
    height: calc(100vh - 56px);
    width: 320px;
    z-index: 100;
    overflow-y: scroll;
}

@media all and (min-width: 1281px) {
    #nav-sidebar {
        width: 20vw;
    }
}

#nav-sidebar .card-block {
    padding-top: 0;
    padding-bottom: 0;
}

#nav-sidebar .card-inverse {
    background-color: #333;
}

#nav-sidebar .card-header * {
    color: #fafafa;
}

.navbar {
    flex-direction: row;
}

.navbar-brand-short {
    display: inline;
}

.navbar-brand-long {
    display: none;
}

@media all and (min-width: 641px) {
    .navbar-brand-short {
        display: none;
    }

    .navbar-brand-long {
        display: inline;
    }
}

#search {
    margin-left: auto;
}
