// Place all the styles related to the Chapter controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

blockquote {
    margin: 18pt auto;
    padding: 13px;
}

body {
  counter-reset: figure exercise;
}

kbd.snippet {
    display: block;
}

exercise::before {
    counter-increment: exercise;
    content: 'Exercise ' counter(exercise) ": ";
    font-weight: bold;
}

exercise {
    display: block;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-style: dashed;
    border-width: thin;
}

footnote {
    display: inline;
}

figure {
    margin: 20px auto !important;
    text-align: center;
}

h2 {
    margin-top: 2rem !important;
    font-size: 18pt !important;
}

img {
    margin: 10px 5px;
}

reference {
    display: list-item;
}

:not(figure) > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    line-height: 2;
}


pre {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem !important;
    background-color: #aeaeae;
}

pre * {
    font-family: 'Droid Sans Mono', monospace !important;
}

quote {
    font-size: inherit;
}

quote::before {
    content: open-quote;
}

quote::after {
    content: close-quote;
}

.caption {
    display: block;
    font-style: italic;
}

.caption::before {
    counter-increment: figure;
    content:"Figure " counter(figure) ": ";
}

.chapter-content {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.chapter-content * {
    font-family: 'Droid Serif', serif;
}

.chapter-content h2 {
    font-weight: bold;
}

.chapter-text * {
    font-size: 16pt;
    line-height: 2;
}

.chapter-text a:hover {
    color: #eeeeee;
}

.chapter-text kbd {
    background: none;
    color: inherit;
    padding-left: 2px;
    padding-right: 2px;
    font-family: 'Droid Sans Mono', monospace;
}

.chapter-text kbd.snippet {
    display: block;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.chapter-text p {
    margin: 0 0 2rem 0;
}

.chapter-text ul {
    margin-top: 1rem;
}

.chapter-text-ATTRIBUTION {
    margin-top: 1rem;
    text-align: right;
}

.chapter-text-AUTHOR::before {
    content: ' - ';
}

.chapter-text-AUTHOR::after {
    content: ', ';
}

.chapter-text-DATE::before {
    content: '(';
}

.chapter-text-DATE::after {
    content: ')';
}

.chapter-text-TITLE {
    font-style: italic;
}

.chapter-title {
    font-size: 24pt;
    font-weight: 500;
    padding-bottom: 1rem;
}

.footnote {
    margin-top: 1rem;
    display: block;
}

.footnote * {
    font-size: 10pt !important;
}

.nav .btn {
    display: none;
}

.snippet-ide-link {
    display: none !important;
    position: relative;
    z-index: 10;
    top: -4rem;
    left: 30vw;
}

pre:hover + .snippet-ide-link {
    display: inline !important;
}

.snippet-ide-link:hover {
    display: inline !important;
}

.superscript {
    font-variant-position: super;
}
